.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-container {
  margin-top: 50px;
  display: flex;
  flex:1;
  justify-content: center;
}

.foot {
  flex-shrink: 0;
  width: 100%;
  background: #7e7c7c;
  color: #fff;
  text-align: center;

}

@media screen and (max-width: 768px) {
  .product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  .grid-container {
    padding-left: 0px;
  }
}

.grid-container {
  padding-left: 330px;
  margin-bottom: 50px;
}
